In [1]:
import sqlite3
import pandas as pd

# Create a connection to the SQLite database file
# If the file doesn't exist, it will be created
conn = sqlite3.connect('onlinebookstore.db')
cursor = conn.cursor()
#command to use sql in python and apply sql commanfd

In [2]:
# Drop tables if they exist
cursor.execute("DROP TABLE IF EXISTS BOOKS")
cursor.execute("DROP TABLE IF EXISTS CUSTOMERS")
cursor.execute("DROP TABLE IF EXISTS ORDERS")

# Create BOOKS table
cursor.execute('''
CREATE TABLE BOOKS (
    Book_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Title TEXT,
    Author TEXT,
    Genre TEXT,
    Published_year INT,
    Price REAL,
    Stock INT
)
''')

# Create CUSTOMERS table
cursor.execute('''
CREATE TABLE CUSTOMERS (
    Customer_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT,
    Email TEXT,
    Phone TEXT,
    City TEXT,
    Country TEXT
)
''')

# Create ORDERS table
cursor.execute('''
CREATE TABLE ORDERS (
    Order_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Customer_ID INT,
    Book_ID INT,
    Order_Date TEXT,
    Quantity INT,
    Total_Amount REAL,
    FOREIGN KEY(Customer_ID) REFERENCES CUSTOMERS(Customer_ID),
    FOREIGN KEY(Book_ID) REFERENCES BOOKS(Book_ID)
)
''')

conn.commit()

In [3]:
# Read CSV file
books_df = pd.read_csv(r'C:/Users/Amirhamza/OneDrive/Desktop/SQL Prac/Project1/Books.csv')

# Insert data into BOOKS table
books_df.to_sql('BOOKS', conn, if_exists='append', index=False)

500

In [4]:
# Read CSV file
customers_df = pd.read_csv(r'C:/Users/Amirhamza/OneDrive/Desktop/SQL Prac/Project1/Customers.csv')

# Insert data into BOOKS table
customers_df.to_sql('CUSTOMERS', conn, if_exists='append', index=False)

500

In [5]:
# Read CSV file
orders_df = pd.read_csv(r'C:/Users/Amirhamza/OneDrive/Desktop/SQL Prac/Project1/Orders.csv')

# Insert data into BOOKS table
orders_df.to_sql('ORDERS', conn, if_exists='append', index=False)

500

In [6]:
# Query BOOKS table
books = pd.read_sql_query("SELECT * FROM BOOKS", conn)
books.head()  # Show first 5 rows

,Book_ID,Title,Author,Genre,Published_year,Price,Stock
0,1,Configurable modular throughput,Joseph Crane,Biography,1949,21.34,100
1,2,Persevering reciprocal knowledge user,Mario Moore,Fantasy,1971,35.80,19
2,3,Streamlined coherent initiative,Derrick Howard,Non-Fiction,1913,15.75,27
3,4,Customizable 24hour product,Christopher Andrews,Fiction,2020,43.52,8
4,5,Adaptive 5thgeneration encoding,Juan Miller,Fantasy,1956,10.95,16

In [7]:
# Query CUSTOMERS table
customers = pd.read_sql_query("SELECT * FROM CUSTOMERS", conn)
customers.head()

,Customer_ID,Name,Email,Phone,City,Country
0,1,Deborah Griffith,balljoseph@wright-keith.net,1234567891,South Craigfort,Denmark
1,2,Crystal Clements,kimberlybennett@curtis.com,1234567892,East Derekberg,Nicaragua
2,3,Susan Fuller,beanmichael@burnett-stewart.net,1234567893,Austinbury,Equatorial Guinea
3,4,Jamie Ramirez,amandahood@warren.com,1234567894,Dianamouth,Slovenia
4,5,Marcus Murphy,connerjohn@yahoo.com,1234567895,Smithbury,Guinea-Bissau

In [8]:
# Query ORDERS table
orders = pd.read_sql_query("SELECT * FROM ORDERS", conn)
orders.head()

   Order_ID  Customer_ID  Book_ID  Order_Date  Quantity  Total_Amount
0         1           84      169  26-05-2023         8        188.56
1         2          137      301  23-01-2023        10        216.60
2         3          216      261  27-05-2024         6         85.50
3         4          433      343  25-11-2023         7        301.21
4         5           14      431  26-07-2023         7        136.36

In [9]:
print(pd.read_sql_query("SELECT * FROM BOOKS", conn).head())

   Book_ID                                  Title               Author  \
0        1        Configurable modular throughput         Joseph Crane
1        2  Persevering reciprocal knowledge user          Mario Moore
2        3        Streamlined coherent initiative       Derrick Howard
3        4            Customizable 24hour product  Christopher Andrews
4        5        Adaptive 5thgeneration encoding          Juan Miller

         Genre  Published_year  Price  Stock
0    Biography            1949  21.34    100
1      Fantasy            1971  35.80     19
2  Non-Fiction            1913  15.75     27
3      Fiction            2020  43.52      8
4      Fantasy            1956  10.95     16

In [10]:
#Q1 Retrive all books in fiction genre
books_df["Genre"].value_counts()

Genre
Science Fiction    84
Mystery            79
Romance            74
Fantasy            71
Non-Fiction        67
Biography          65
Fiction            60
Name: count, dtype: int64

In [11]:
#Q1 Retrive all books in fiction genre
pd.read_sql_query("""SELECT * FROM BOOKS WHERE GENRE = 'Fiction' """, conn)

,Book_ID,Title,Author,Genre,Published_year,Price,Stock
0,4,Customizable 24hour product,Christopher Andrews,Fiction,2020,43.52,8
1,22,Multi-layered optimizing migration,Wesley Escobar,Fiction,1908,39.23,78
2,28,Expanded analyzing portal,Lisa Coffey,Fiction,1941,37.51,79
3,29,Quality-focused multi-tasking challenge,Katrina Underwood,Fiction,1905,31.12,100
4,31,Implemented encompassing conglomeration,Melissa Taylor,Fiction,2010,21.23,44
5,39,Optimized national process improvement,Megan Goodwin,Fiction,1978,10.99,42
6,40,Adaptive didactic interface,Natalie Gonzalez,Fiction,1923,25.97,94
7,47,Reverse-engineered directional conglomeration,John Christian,Fiction,2006,20.37,90
8,62,Re-contextualized real-time strategy,Nicole Lynch,Fiction,1953,26.34,23
9,63,Polarized heuristic database,Franklin Mack,Fiction,1989,22.38,56
10,100,Synchronized client-server service-desk,James Alvarado,Fiction,1906,49.89,29
11,116,Multi-tiered foreground contingency,Jamie Gates,Fiction,1938,41.82,50
12,125,Public-key analyzing Graphic Interface,Abigail Madden,Fiction,1990,32.41,16
13,130,Realigned context-sensitive pricing structure,Jason Rodriguez,Fiction,2004,6.64,90
14,134,Polarized bandwidth-monitored throughput,Linda Newman,Fiction,1955,35.72,49
15,142,Multi-tiered responsive parallelism,Amanda Wilson,Fiction,1940,48.96,11
16,143,Networked multimedia support,Nancy Goodman,Fiction,2012,43.65,50
17,144,Future-proofed scalable software,Matthew Wolf,Fiction,1945,19.27,90
18,156,Synergistic grid-enabled website,Brandon Black,Fiction,1953,31.68,34
19,173,Ergonomic foreground Graphic Interface,Patrick Williams,Fiction,1948,6.07,100
20,185,Networked object-oriented definition,Kelly Vazquez,Fiction,1940,21.98,10
21,187,Total well-modulated groupware,Kenneth Phillips,Fiction,1989,22.98,7
22,214,Fundamental methodical open architecture,Jeffery Green,Fiction,2005,18.16,47
23,220,Multi-lateral zero-defect matrix,Nicole Hughes,Fiction,1904,16.51,60
24,249,Fundamental national infrastructure,Nancy Austin,Fiction,1928,32.95,58
25,251,Seamless 5thgeneration challenge,Michelle Harris,Fiction,1906,8.87,98
26,252,Down-sized high-level encoding,Gabriela Russell MD,Fiction,1902,12.62,43
27,253,Horizontal didactic structure,Robert Rodriguez,Fiction,1961,11.66,21
28,260,Business-focused methodical application,Brian King,Fiction,1907,49.59,10
29,263,Right-sized bifurcated definition,Kayla Wilkinson,Fiction,1965,9.79,3
30,274,Automated systemic functionalities,Matthew Thomas,Fiction,1903,48.80,72
31,278,Exclusive asymmetric installation,Benjamin Flores,Fiction,1901,48.61,69
32,297,Advanced well-modulated architecture,Chad Craig,Fiction,2016,35.65,2
33,298,Assimilated composite archive,Mark Gibson,Fiction,1957,46.66,62
34,299,Centralized disintermediate array,Donald Wiggins,Fiction,1909,28.19,73
35,302,Ergonomic leadingedge portal,James Curtis,Fiction,1981,28.67,92
36,315,Virtual exuding Internet solution,Anne George,Fiction,2012,42.90,40
37,324,Diverse dynamic contingency,James Duran,Fiction,1993,46.08,23
38,327,Implemented zero-defect product,Kim Lee,Fiction,1984,21.40,29
39,329,Multi-tiered dedicated encryption,Jacob Fischer,Fiction,1973,38.49,27
40,331,Profit-focused systematic project,Dennis Hooper,Fiction,1936,15.36,89
41,342,Digitized regional monitoring,Kenneth Finley,Fiction,1969,17.11,84
42,362,Profit-focused multimedia throughput,Andrea Lucas,Fiction,1933,29.43,64
43,366,Re-contextualized national secured line,Robert Wilson,Fiction,1922,13.10,4
44,367,Universal analyzing support,Eric Taylor,Fiction,1940,29.32,35
45,372,Realigned mobile focus group,Michael Jackson,Fiction,1905,17.73,42
46,373,Exclusive dynamic approach,Michelle Mercado,Fiction,1911,39.09,49
47,403,Persevering incremental strategy,David Miller,Fiction,1928,15.01,82
48,406,De-engineered methodical capacity,James Gonzalez,Fiction,2006,35.79,50
49,408,Decentralized tertiary customer loyalty,William Roberts,Fiction,1946,10.07,2
50,414,Organized directional Internet solution,Amanda Carrillo,Fiction,1999,22.55,93
51,421,Exclusive zero administration superstructure,John Pearson,Fiction,1901,40.05,58
52,437,Customizable directional matrices,Alyssa Lopez,Fiction,1960,44.29,7
53,439,Monitored eco-centric framework,Kelly Rodriguez,Fiction,1970,16.00,94
54,458,Cross-group analyzing matrix,Nancy Griffith,Fiction,1914,37.28,53
55,472,Stand-alone clear-thinking extranet,Craig Dominguez,Fiction,1942,28.09,9
56,479,Balanced grid-enabled architecture,Christian Morales,Fiction,2009,38.27,60
57,480,Adaptive mobile toolset,Andrew James,Fiction,1940,38.15,75
58,481,Automated transitional hardware,Nicole Smith,Fiction,1980,10.55,77
59,495,Horizontal background throughput,Billy Lopez,Fiction,1987,20.31,43

In [12]:
#Q2 Find books published after the year 2010
pd.read_sql_query("""select * from BOOKS where Published_year>2010""",conn)

,Book_ID,Title,Author,Genre,Published_year,Price,Stock
0,4,Customizable 24hour product,Christopher Andrews,Fiction,2020,43.52,8
1,8,Persistent local encoding,Troy Cox,Science Fiction,2019,48.99,84
2,10,Ergonomic national hub,Samantha Ruiz,Mystery,2015,24.63,25
3,18,Adaptive 4thgeneration concept,Hector Palmer,Non-Fiction,2021,39.47,32
4,30,Multi-layered global open system,Jose Meyer,Biography,2012,30.58,37
5,32,Synergistic dedicated concept,Lisa Bailey,Mystery,2021,21.56,100
6,33,Team-oriented empowering synergy,Sandra Williams,Non-Fiction,2023,35.06,49
7,35,Grass-roots solution-oriented adapter,William Turner,Non-Fiction,2018,31.81,85
8,38,Pre-emptive asynchronous leverage,Courtney Nichols,Fantasy,2022,16.47,72
9,51,Visionary optimizing project,Douglas Bush,Biography,2022,46.30,95
10,54,Progressive bi-directional methodology,Adrian Taylor,Fantasy,2015,44.78,27
11,59,Distributed directional adapter,Sarah Smith,Mystery,2012,26.00,41
12,70,Customer-focused context-sensitive process imp...,Mary Warren,Science Fiction,2021,23.45,19
13,83,Sharable regional product,Michael Walker,Biography,2022,8.94,92
14,97,Open-architected stable solution,Chad Nichols,Science Fiction,2017,45.74,70
15,114,Open-architected scalable knowledge user,Mitchell Larson,Mystery,2016,7.28,2
16,115,Upgradable interactive emulation,Christopher Ross,Biography,2021,28.12,37
17,118,Profound didactic leverage,Andrew Murphy,Fantasy,2017,5.52,22
18,136,Stand-alone intangible installation,Morgan Mata,Romance,2012,9.89,84
19,143,Networked multimedia support,Nancy Goodman,Fiction,2012,43.65,50
20,164,Expanded scalable time-frame,Ashley Mason,Non-Fiction,2013,41.83,4
21,168,Vision-oriented radical capability,Tracy Parker,Mystery,2018,14.13,61
22,182,Reduced bottom-line forecast,Virginia Butler,Mystery,2014,23.76,9
23,188,Switchable value-added conglomeration,Clinton Mcintyre MD,Science Fiction,2014,20.14,73
24,190,Cross-platform even-keeled focus group,Andrew Parker,Science Fiction,2016,38.36,4
25,195,Sharable tangible collaboration,Christian Ward,Biography,2021,11.63,20
26,216,Down-sized mobile extranet,Mary Carter,Mystery,2019,24.63,92
27,217,Open-source 3rdgeneration secured line,Christina Terrell,Non-Fiction,2019,35.38,98
28,233,Team-oriented client-driven adapter,Adrian Avery,Mystery,2011,10.39,47
29,241,Up-sized fault-tolerant hub,Taylor Wang,Fantasy,2015,14.06,38
30,248,Cross-group responsive protocol,Cathy Knight,Science Fiction,2021,46.99,68
31,264,De-engineered local interface,Wayne Hall,Biography,2015,20.51,47
32,282,Configurable local emulation,Russell Castillo,Biography,2016,38.19,3
33,292,Fully-configurable mission-critical artificial...,Rachel Adkins,Mystery,2017,26.94,2
34,297,Advanced well-modulated architecture,Chad Craig,Fiction,2016,35.65,2
35,310,Reduced well-modulated database,Raymond Nicholson,Non-Fiction,2021,47.92,40
36,315,Virtual exuding Internet solution,Anne George,Fiction,2012,42.90,40
37,339,Centralized uniform extranet,Steven Mcdonald,Romance,2014,43.51,68
38,349,Monitored interactive focus group,Thomas Chung,Non-Fiction,2013,44.36,51
39,360,Profound tertiary encoding,Jennifer Jones,Non-Fiction,2020,49.34,73
40,382,Implemented background approach,Megan King,Romance,2012,33.19,27
41,411,Profit-focused solution-oriented open system,Aaron Hall Jr.,Romance,2012,15.03,83
42,416,Expanded maximized portal,Tina Stevenson,Science Fiction,2018,49.10,96
43,426,Triple-buffered upward-trending artificial int...,John Shannon,Biography,2021,32.82,98
44,441,Streamlined 6thgeneration collaboration,Susan Reeves,Science Fiction,2013,40.72,65
45,459,Customizable optimal infrastructure,Robert Garcia,Mystery,2013,35.77,45
46,466,Multi-channeled mission-critical initiative,Michelle Hanson,Fantasy,2015,37.17,93
47,477,Distributed cohesive approach,Chris Brown,Romance,2019,27.71,17
48,486,Monitored tangible extranet,Lisa Medina,Non-Fiction,2018,19.13,52
49,490,Progressive client-server infrastructure,Philip Thompson,Non-Fiction,2019,12.88,40

In [13]:
#Q3 List all customer from the Zimbabwe
customers_df["Country"].value_counts().head(20)
pd.read_sql_query("""select * from CUSTOMERS where Country = 'Zimbabwe' """, conn)

,Customer_ID,Name,Email,Phone,City,Country
0,12,Jennifer Murray,wilsonbrittany@hotmail.com,1234567902,South Ashleychester,Zimbabwe
1,73,Peter Krueger,vwelch@yahoo.com,1234567963,New Lawrenceton,Zimbabwe
2,120,Rita Wallace,catherinehayes@hotmail.com,1234568010,Lake Eric,Zimbabwe
3,446,Michael Park,gjacobs@gmail.com,1234568336,East Robert,Zimbabwe
4,447,Emily Wilkerson,jchaney@yahoo.com,1234568337,Parkerside,Zimbabwe
5,476,Stephanie Martinez,robertomoore@lee-kemp.net,1234568366,Aprilshire,Zimbabwe

In [14]:
#Q4 Show orders placed inn november 2023
pd.read_sql_query("""
SELECT *
FROM ORDERS
WHERE Order_Date >= '2023-11-01'
  AND Order_Date <  '2023-12-01'
""", conn)

Empty DataFrame
Columns: [Order_ID, Customer_ID, Book_ID, Order_Date, Quantity, Total_Amount]
Index: []

In [15]:
#Q5 Retrive the total stock of book avaliiable
pd.read_sql_query("""select sum(Stock)
as total_stock
from BOOKS """
,conn)

   total_stock
0        25056

In [16]:
#Q6 Find the details of most expensive book
pd.read_sql_query("""select * from BOOKS
order by Price desc
limit 1
""",conn)

,Book_ID,Title,Author,Genre,Published_year,Price,Stock
0,340,Proactive system-worthy orchestration,Robert Scott,Mystery,1907,49.98,88

In [17]:
# Q7 show all customers who ordered more than 8 quantity
pd.read_sql_query("""select * from ORDERS where Quantity > 8 """,conn)

    Order_ID  Customer_ID  Book_ID  Order_Date  Quantity  Total_Amount
0          2          137      301  23-01-2023        10        216.60
1          9          109      407  04-01-2024         9        379.71
2         19          496       60  17-11-2023         9        316.26
3         25          265      250  25-05-2023        10        126.50
4         36          417      260  21-01-2024         9        446.31
..       ...          ...      ...         ...       ...           ...
89       483          459      202  23-11-2023        10        122.60
90       490          173       93  15-02-2023         9        156.87
91       491          425       72  14-10-2023        10        465.40
92       492          284      120  28-04-2024        10        480.30
93       497          328      272  25-04-2023        10         51.60

[94 rows x 6 columns]

In [18]:
# Q8 Retrive all the orders where the total amount exceed $300
pd.read_sql_query("""select * from ORDERS where Total_Amount > 300 """, conn)

    Order_ID  Customer_ID  Book_ID  Order_Date  Quantity  Total_Amount
0          4          433      343  25-11-2023         7        301.21
1          9          109      407  04-01-2024         9        379.71
2         19          496       60  17-11-2023         9        316.26
3         36          417      260  21-01-2024         9        446.31
4         39          488      422  03-08-2024         8        367.28
..       ...          ...      ...         ...       ...           ...
60       459          163      422  17-08-2024        10        459.10
61       479          328      197  26-12-2023         7        301.21
62       481          405      353  07-07-2023        10        469.70
63       491          425       72  14-10-2023        10        465.40
64       492          284      120  28-04-2024        10        480.30

[65 rows x 6 columns]

In [19]:
#Q9 List all Genre avalible in books table
pd.read_sql_query("""select distinct Genre from BOOKS""",conn)

             Genre
0        Biography
1          Fantasy
2      Non-Fiction
3          Fiction
4          Romance
5  Science Fiction
6          Mystery

In [20]:
#Q10 find all books with lowest stock
pd.read_sql_query("""select * from BOOKS order by Stock limit 20 """,conn)

,Book_ID,Title,Author,Genre,Published_year,Price,Stock
0,44,Networked systemic implementation,Ryan Frank,Science Fiction,1965,13.55,0
1,60,Robust eco-centric capacity,Brian Haney,Biography,1990,35.14,0
2,127,Business-focused real-time benchmark,David Nelson,Science Fiction,1997,11.66,0
3,163,Object-based eco-centric challenge,Douglas Mccarthy,Non-Fiction,1905,19.11,0
4,378,Future-proofed heuristic function,Samantha Mcclain,Romance,1903,6.01,0
5,19,Progressive asymmetric Internet solution,Sean Miller,Science Fiction,1990,11.31,1
6,137,Networked contextually-based encryption,Leslie Montoya,Biography,1942,26.33,1
7,199,Configurable fault-tolerant interface,Mark Parker,Mystery,1923,42.81,1
8,232,Monitored 24/7 groupware,Vicki Mcgee,Science Fiction,1925,9.62,1
9,259,Pre-emptive incremental secured line,Jason Perez,Science Fiction,1994,14.48,1
10,449,Universal homogeneous adapter,Gina Lopez,Romance,1966,40.17,1
11,6,Advanced encompassing implementation,Bryan Morgan,Biography,1985,6.56,2
12,110,Re-contextualized radical matrix,Michael Howell,Fantasy,1903,30.15,2
13,114,Open-architected scalable knowledge user,Mitchell Larson,Mystery,2016,7.28,2
14,221,Re-engineered solution-oriented extranet,Robert Castaneda,Biography,1988,24.81,2
15,292,Fully-configurable mission-critical artificial...,Rachel Adkins,Mystery,2017,26.94,2
16,297,Advanced well-modulated architecture,Chad Craig,Fiction,2016,35.65,2
17,323,Balanced dynamic project,Kelly Hopkins,Biography,1976,35.83,2
18,408,Decentralized tertiary customer loyalty,William Roberts,Fiction,1946,10.07,2
19,457,Configurable disintermediate extranet,Melissa Lewis,Mystery,1953,28.22,2

In [21]:
# Q11 calculate the totale revenue genreted from all order
pd.read_sql_query("""select sum(Total_Amount) as total_revenue
from ORDERS""",conn)

   total_revenue
0       75628.66

In [22]:
# Q12 retrive the total number of book sold by each genre.
pd.read_sql_query("""select b.Genre , sum(o.Quantity) as total_sold 
from BOOKS b
join ORDERS o on b.Book_ID=o.Book_ID 
group by b.Genre""",conn)

             Genre  total_sold
0        Biography         285
1          Fantasy         446
2          Fiction         225
3          Mystery         504
4      Non-Fiction         351
5          Romance         439
6  Science Fiction         447

In [23]:
# Q13 find the avg of price of book in fantacy genre
pd.read_sql_query("""SELECT Genre, AVG(Price) AS AVG
FROM BOOKS
GROUP BY Genre
HAVING Genre = 'Fantasy'""",conn)

     Genre       AVG
0  Fantasy  25.98169

In [24]:
# Q14 List customer who have placed  atleast 2 order.
pd.read_sql_query("""select  o.Customer_ID ,c.Name ,count(o.Order_ID) as ORD_count
from ORDERS o 
join CUSTOMERS c on o.Customer_ID=c.Customer_ID 
group by o.Customer_ID ,c.Name
having ORD_count>=2 """,conn)

     Customer_ID              Name  ORD_count
0              2  Crystal Clements          2
1              6   Stephen Vasquez          2
2              8   Matthew Johnson          2
3             13      Kristine Kim          2
4             14         John Wood          2
..           ...               ...        ...
134          485   Andrew Figueroa          4
135          486     Melanie Kelly          2
136          495    Patrick Rivera          2
137          497       Shane Klein          2
138          500        James York          2

[139 rows x 3 columns]

In [25]:
# Q15 Find the most sold book.
pd.read_sql_query("""select b.Title ,b.Book_ID , sum(o.Quantity) as most
from BOOKS b 
join ORDERS o on o.Book_ID=b.Book_ID 
group by b.Title
order by most desc
""",conn)

                                                Title  Book_ID  most
0                Realigned multi-tasking installation       73    28
1             Implemented encompassing conglomeration       31    27
2    Devolved zero administration process improvement      273    24
3                        Advanced didactic time-frame      157    24
4                   Synergized intangible methodology      208    23
..                                                ...      ...   ...
312                 Distributed transitional solution      388     1
313                   Digitized executive flexibility      206     1
314                          Cloned cohesive attitude      461     1
315             Centralized asymmetric data-warehouse      211     1
316                       Adaptive didactic interface       40     1

[317 rows x 3 columns]

In [26]:
# Q16 Find the most frequently ordered book.
pd.read_sql_query("""SELECT o.Book_id, b.title, COUNT(o.order_id) AS ORDER_COUNT
FROM orders o
JOIN books b ON o.book_id=b.book_id
GROUP BY o.book_id, b.title
ORDER BY ORDER_COUNT DESC""",conn)

     Book_ID                                             Title  ORDER_COUNT
0         31           Implemented encompassing conglomeration            4
1         73              Realigned multi-tasking installation            4
2         88                          Robust tangible hardware            4
3        120                       Integrated secondary access            4
4        273  Devolved zero administration process improvement            4
..       ...                                               ...          ...
312      481                   Automated transitional hardware            1
313      482              Pre-emptive transitional contingency            1
314      488               Optimized attitude-oriented synergy            1
315      490          Progressive client-server infrastructure            1
316      497                 Function-based local installation            1

[317 rows x 3 columns]

In [28]:
# Q17 show the most 3 expensive book from fantasy genre.
pd.read_sql_query("""select * from BOOKS 
where Genre='Fantasy' 
order by Price desc limit 3""", conn)

,Book_ID,Title,Author,Genre,Published_year,Price,Stock
0,240,Stand-alone content-based hub,Lisa Ellis,Fantasy,1957,49.90,41
1,462,Innovative 3rdgeneration database,Allison Contreras,Fantasy,1988,49.23,62
2,238,Optimized even-keeled analyzer,Sherri Griffith,Fantasy,1975,48.97,72

In [33]:
# Q18 Retrive the total quantity of books sold by each author
pd.read_sql_query("""select b.Author,sum(o.Quantity) as total_sold 
from BOOKS b 
join ORDERS o on b.Book_ID=o.Book_ID 
group by b.Author
order by total_sold desc""",conn)

                Author  total_sold
0    Patrick Contreras          28
1       Melissa Taylor          27
2      Thomas Trujillo          24
3          Emily James          24
4        Valerie Moore          23
..                 ...         ...
309        Dana Ibarra           1
310  Christopher Price           1
311     Brittney Brown           1
312       Ashley Mason           1
313      Amanda Savage           1

[314 rows x 2 columns]

In [38]:
# Q19 List the cities where customers who spent over $300 are located.
pd.read_sql_query("""select distinct c.City , o.Total_Amount 
from CUSTOMERS c
join ORDERS o on c.Customer_ID=o.Customer_ID
where o.Total_Amount >=300
""",conn)

                 City  Total_Amount
0          East David        301.21
1           Ravenberg        379.71
2           Davidview        316.26
3           Erikaberg        446.31
4         North Brian        367.28
..                ...           ...
60  Lake Charleshaven        459.10
61          Hallshire        301.21
62        Freemanland        469.70
63     Elizabethshire        465.40
64        Melissaside        480.30

[65 rows x 2 columns]

In [41]:
# Q20 Find the customers who spnet most orders.
pd.read_sql_query("""select c.name, c.Customer_ID, sum(o.Total_Amount) as Total_spent
from ORDERS o
join CUSTOMERS c on c.Customer_ID=o.Customer_ID
group by o.Customer_ID 
order by Total_spent desc""",conn)

                    Name  Customer_ID  Total_spent
0             Kim Turner          457      1398.90
1    Jonathon Strickland          174      1080.95
2           Carrie Perez          364      1052.27
3            Julie Smith          405       991.00
4          Pamela Gordon          386       986.30
..                   ...          ...          ...
302       Dustin Ramirez          392        11.99
303          Joseph Boyd          475        11.31
304         Brooke Kline          101        10.17
305          Susan Hicks            7        10.07
306       Karla Guerrero          100         9.83

[307 rows x 3 columns]